/* Common styles for all screen sizes */
.page-wrapper {
  height: 100vh;
  background: linear-gradient(135deg, #f0c808, #ff5400);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.history-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.main {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  font-size: 16px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 2px solid #ff5400;
  border-radius: 5px;
  margin-right: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Arial Narrow", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.paragraph {
  font-size: 18px;
  line-height: 1.6;
}

.button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 2px solid #ff5400;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  font-size: 16px;
  margin-bottom: 5px;
}

.transactionHistory {
  margin-top: 30px;
}

.transactionHistory-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.sub-container {
  display: flex;
  flex-direction: column;
}

.accountInfo {
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .container,
  .main {
    max-width: 90%; /* Adjust the width for mobile devices */
  }
}

/* Media query for desktop devices */
@media (min-width: 768px) {
  .main-container {
    align-items: center; /* Center align for desktop devices */
  }
}
